<div class="course-page">
    <div *ngIf="_course" class="course-header">
        <div class="title">{{_course.title}}</div>
        <div class="description"><b>Description:</b> {{_course.description}}</div>
    </div>
    <div class="content">
        <div *ngIf="_course" class="lessons-cards">
            <app-lesson-card *ngFor="let lesson of _course.lessons"
                             class="lesson-card"
                             [lesson]='lesson'
                             [courseId]='courseId'
            >
            </app-lesson-card>
        </div>
        <div class="video-container"
             [hidden]="!_course"
        >
            <video class="video-lesson"
                   #videoLesson
                   controls
                   autoplay
                   playsinline
                   oncanplay="this.play()"
                   onloadedmetadata="this.muted = true"
            ></video>
        </div>
    </div>
</div>

<mat-spinner *ngIf="!_course" class="loader"></mat-spinner>
