<div *ngIf="_course else loader" class="course-page">
    <div class="course-header">
        <div class="title">{{_course.title}}</div>
        <div class="description"> <b>Description:</b> {{_course.description}}</div>
    </div>
    <div class="content">
        <div class="lessons-cards">
            <app-lesson-card *ngFor="let lesson of _course.lessons"
                             class="lesson-card"
                             [lesson]='lesson'
                             [courseId]='courseId'
            >
            </app-lesson-card>
        </div>
        <div class="video-container">
            <video class="video-lesson"
                   #videoLesson
                   controls
                   autoplay
                   playsinline
                   oncanplay="this.play()"
                   onloadedmetadata="this.muted = true"
            ></video>
        </div>
    </div>
</div>

<ng-template #loader>
    <mat-spinner class="loader"></mat-spinner>
</ng-template>
