@base-gap: 15px;

.course-page {
    padding: 20px 35px 0 35px;
    display: flex;
    flex-direction: column;
    gap: @base-gap;

    .course-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: @base-gap;

        .title {
            font-size: 42px;
            font-weight: 500;
            color: #2a242e;
            padding: 8px 0;
        }

        .description {
            font-size: 22px;
            font-weight: 400;
            gap: @base-gap;
            color: #423b45;
        }
    }

    .content {
        display: flex;
        gap: @base-gap;

        .lessons-cards {
            flex: 1;
            display: flex;
            gap: @base-gap;
            flex-direction: column;

            .lesson-card {
                width: auto;
            }
        }

        .video-container {
            flex: 1.2;

            .video-lesson {
                display: flex;
                justify-content: center;
                width: 100%;
                height: min-content;
                position: sticky;
                top: 60px;
            }
        }
    }
}

.loader {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
    top: 35vh;
}
