<div class="pop-up">
    <div class="header">
        <div class="lesson-title">{{data.lesson?.order}}. {{data.lesson?.title}} </div>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="video-lesson-wrapper">
        <video class="video-lesson"
               #videoLesson
               controls
               autoplay
               playsinline
               oncanplay="this.play()"
               onloadedmetadata="this.muted = true"
        ></video>
    </div>
    <!-- TODO: Fix ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. -->
    <div class="speed">
        Current speed: <b>{{video?.playbackRate}}</b>. To change the speed, use the keys - "6" to increase, "4" to
        decrease.
    </div>
</div>

