<div class="course-card" (click)="onCardClick()">
    <div class="course-title">{{course?.title}}</div>
    <div class="content">
        <img class="course-preview" src="{{course?.previewImageLink+'/cover.webp'}}" alt="">
        <div class="course-card-info">
            <div class="lessons-count">{{'Number of lessons: '+course?.lessonsCount}}</div>
            <div class="skills">
                <div>Skills:</div>
                <ul>
                   <li *ngFor="let skill of course?.meta?.skills">
                       {{skill}}
                   </li>
                </ul></div>
        </div>
    </div>
    <div class="rating">
        <mat-icon>star</mat-icon>
<!--        <img src="assets/icons/star.png" alt="">-->
        {{'Rating: '+course?.rating }}</div>
</div>
