a.home {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: serif;
    font-size: 33px;
    width: 100%;
    align-self: center;
    text-align: center;
}
.header {
    display: flex;
    max-width: 100%;
    background-color: #c791f1;
    height: 50px;
    box-shadow: 0 3px 10px 0 rgba(125,125,125,1);

}
