<div class="lesson-card"
     (click)="onLessonClick()"
     matTooltip="This lesson is locked!"
     [matTooltipDisabled]="!locked"
     [ngClass]="{'locked': locked}"
>
    <div class="content">
        <img class="lesson-preview" src="{{lesson?.previewImageLink + '/lesson-' + lesson?.order + '.webp'}}" alt="">
        <div class="lesson-card-info">
            <div class="lessons-order">{{lesson?.order}}</div>
            <div class="lesson-title">{{lesson?.title}}</div>
            <div class="icon-lock" *ngIf='locked'>
                <mat-icon aria-hidden="false" aria-label="Example lock icon" fontIcon="lock"></mat-icon>
            </div>
            <div class="icon-play" *ngIf='!locked'>
                <mat-icon aria-hidden="false" aria-label="Example play circle filled icon"
                          fontIcon="play_circle_filled">play circle filled
                </mat-icon>
            </div>
        </div>
    </div>
</div>


